<% provide(:title, 'UAVs') %>
    <h1>UAVs</h1>
    <p>
The UAVs are those which are used from air. They shouldn’t be confused with missiles. Actually missiles are weapons but UAVs aren’t weapons itself but they carry weapon. Some of the UAVs are RQ-11A/B Raven, RQ-5A / MQ-5A/B Hunter, MQ-1 Predator , MQ-9 Reaper etc. Northrop Grumman and General Atomics are the dominant manufacturers in UAV industry. There are other countries except USA also in UAV technology like Israel, Europe, India, etc. which have successfully developed UAVs and are developing it further.</p>
    <p>
The military uses several different flying robots, mainly for reconnaissance. Instead of UGVs, these are known as UAVs (unmanned aerial vehicles), and they are sometimes referred to as drones. UAVs look like model aircraft, and they range in size from small planes that can be held by a person and launched with a good throw, like the FQM-151 Pointer, to full-size airplanes that operate by remote control, like the RQ-4A Global Hawk.</p> 
<p>
UAVs typically fall into one of six functional categories (although multi-role airframe platforms are becoming more prevalent):
<ul>
<li>Target and decoy – providing ground and aerial gunnery a target that simulates an enemy aircraft or missile</li>
<li>Reconnaissance – providing battlefield intelligence</li>
<li>Combat – providing attack capability for high-risk missions (see Unmanned combat air vehicle)</li>
<li>Logistics – UAVs specifically designed for cargo and logistics operation</li>
<li>Research and development – used to further develop UAV technologies to be integrated into field deployed UAV aircraft</li>
<li>Civil and Commercial UAVs – UAVs specifically designed for civil and commercial applications</li>
</ul> </p>
<p>
<%= image_tag("uav2.jpg", alt: "ugv", height: "33%", width: "33%") %>
<%= image_tag("uav1.jpeg", alt: "uav", height: "28%", width: "28%") %>
<%= image_tag("uav4.jpg", alt: "uuv", height: "33%", width: "33%") %>
</p>
<%= link_to "Back", help_path %>

