<% provide(:title, 'UUVs') %>
    <h1>UUVs</h1>
    <p>
The UAVs are those which are used from underwater. These marvels have capabilities to be operated underwater.  UUVs were envisioned to contribute to the following SSN mission areas: Mine Warfare (MIW); Intelligence, Surveillance, and Reconnaissance (ISR); and undersea environmental sensing and mapping. The Talisman UUV is a fully autonomous unmanned mini-sub designed and made by BAE Systems. It has the capability to perform shoreline reconnaissance when the risks may be deemed too high, or conditions unsuitable, for human operators. The Talisman system comprises a vehicle and remote control console. The vehicle can be re-programmed in mid-mission by satellite and features a carbon fibre hull giving it a stealth-like profile and low observability. Talisman can carry a wide variety of payloads, such as image capture, environmental sensors or mine counter measures.</p>
<p>
<h2> The Remus</h2>
The navy is currently creating unmanned vehicles to be used in oceanic warfare to discover and terminate underwater mines. For instance, the Remus (different variation in pictures below) is a three-foot long robot used to clear mines in one square mile with 16 minutes (Carafano & Gudgel, 2007). This is much more efficient, as a team of human divers would need upwards of 21 days to perform the same task. In addition to UUVs with the purpose of clearing out mines, autonomous submarines began to be prototyped as of 2008 (Lin, Bekey, & Abney, 2008). The difficulty with autonomous submarines is that, in contrast with other robotic applications, their sensors will not be able to give them sufficient information to make an informed decision. Specifically, if the submarine were to encounter a ship that is transporting enemy supplies, there would be no way for the submarine to know how many civilians are on board. Without that knowledge, it would not be allowed to sink the ship for fear of killing too many innocents (Lin, Bekey, & Abney, 2008).</p>
<p>
<%= image_tag("uuv2.jpg", alt: "uuv", height: "33%", width: "33%") %>
<%= image_tag("uuv1.jpg", alt: "uuv", height: "33%", width: "33%") %>
<%= image_tag("uuv3.jpg", alt: "uuv", height: "33%", width: "33%") %>
</p>
<%= link_to "Back", help_path %>
